@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

:root{
    --black:#333;
    --white:white;
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(178, 202, 224,.4);
    height: 100%;
}
section{
    width: 100vw;
    height: 100%;

}
.home{
    width: 100vw;
    height: 100vh;
}
nav{
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 2rem;
    overflow: hidden;
    z-index: 2;
}

#logo{
    width: 20%;
    height: 100%;
    background-color: var(--white);
    border-radius: 0px 50px 50px 0px;
    position: relative;
    left:-1000px;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;

}


#logo .logo-name h2 {
  color: #fff;
  font-size: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
}

#logo .logo-name h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

#logo .logo-name h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
#logo img{
    width: 4rem;
    height: 4rem;
}
#logo h3{
    font-size: 1rem;
    color: red;
}
.home #nav-link{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    align-items: center;
    background-color: var(--white);
    border-radius: 50px 0px 0px 50px;
    position: relative;
    right:-1000px;
    transition: 1s;
    
}
.home #nav-link li{
    list-style-type:none ;
}
.home #nav-link li a{
    color: var(--black);
    text-decoration: none;
    transition: 1s;
    font-size: 1rem;
}
.home #nav-link li:hover a{
    color: #70c7f3;
    text-shadow: 0px 0px 40px #70c7f3,0px 0px 40px #70c7f3,0px 0px 40px #70c7f3,0px 0px 40px #70c7f3;
transition: .4s;
}

#main{
    height: 100%;
    margin-top: 100px;
    /* position: relative;
    top: 30%; */
    position: relative;
/*top: 30%;*/

    width: 100%;
    height: 65%;
}
.main-in{
    position: relative;
    width: 100%;
    height: 100%;
}

/* Css for contact icon style */
.contect-container{
    position: absolute;
    right: 0px;
    height: 100%;
    width: 5%;
    background-color: var(--white);
    border-radius: 100px 0px 0px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    right:-1000px;
    transition: 1s;

}
.fa-brands{
    border-radius: 50%;
    display: inline;
}
.fa-whatsapp:hover::after{
    content: 'whats app';
    color: white;
    left: -80px;
    top: 6px;
    background-color: green;
    transition: 1s;
    font-size: .5rem;
    position: absolute;
    padding: 5px 10px;
    border-radius: 50px;
}
.fa-facebook:hover::after{
    content: "facebook";
    color: white;
    left: -70px;
    top: 6px;
    background-color: rgb(0, 6, 128);
    transition: 1s;
    font-size: .5rem;
    position: absolute;
    padding: 5px 10px;
    border-radius: 50px;
}
.fa-instagram:hover::after{
    content: 'instagram';
    color: white;
    left: -80px;
    top: 6px;
    background:linear-gradient(red,orange);
    transition: 1s;
    font-size: .5rem;
    position: absolute;
    padding: 5px 10px;
    border-radius: 50px;
}
.fa-twitter:hover::after{
    content: 'twitter';
    color: white;
    left: -70px;
    top: 6px;
    background-color: skyblue;
    transition: 1s;
    font-size: .5rem;
    position: absolute;
    padding: 5px 10px;
    border-radius: 50px;
}
.fa-github:hover::after{
    content: 'github';
color: white;   
 left: -60px;
    top: 6px;
    background-color: rgb(0, 0, 0);
    transition: 1s;
    font-size: .5rem;
    position: absolute;
    padding: 5px 10px;
    border-radius: 50px;
}
.fa-linkedin:hover::after{
    content: 'linkedin';
    color: white;
    left: -70px;
    top: 6px;
    background-color: blue;
    transition: 1s;
    font-size: .5rem;
    position: absolute;
    padding: 5px 10px;
    border-radius: 50px;}
.icon span{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    
}
.icon{
    margin: 0 20px;
    cursor: pointer;
}
.icon span i{
    font-size: 25px;
    list-style: 25px;
}
.icon .fa-brands{
    position: relative;

}
.icon .fa-brands:hover{
    transform: scale(1.1);
}
.icon span a{
    color: black;
}

/* CSS for the slideshow */
.slideshow-container{
    position: absolute;
    height: 100%;
    width: 85%;
    border-radius: 0px 100px 100px 0px;
    overflow: hidden;
    object-fit: cover;
    left: -1000px;
    transition: 1s;
}


.mySlides {
    
    display: block;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
    animation: slide 3s infinite linear;
   
}


.mySlides img{
    object-fit: cover;
    object-position: center;
}

#services-container{
    
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#services-container h3{
    background: linear-gradient(rgb(71, 174, 222),rgb(31, 71, 183));
    font-size: 4rem;
    /* background: -webkit-linear-gradient(#eee, #333); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#services-container .services{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px 50px;
    padding: 50px;

}
#services-container .services .service{
    border-radius: 10px;
    border: none    ;
    box-shadow: 0px 0px 5px black,0px 0px 10px black;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#services-container .services .service .img{
    width: 100%;
    height: 100px;
    overflow: hidden;
    transition: 1s;
}
#services-container .services .service .img img{

    transition: 1s;
}
#services-container .services .service:hover .img img{
 transform: scale(1.2);
 overflow: hidden;
 transition: 1s;
}
img{
    width: 100%;
    height: 100%;
}
#services-container .services .service .content{
    color: var(--white);

}
#services-container .services .service .content h4{
    margin: 10px;
    font-size: 1.5em;
    text-align: center;
}
#services-container .services .service .content p{
    padding: 15px;
    text-indent: 2rem;
    font-size: 1em;
}
/* Add your CSS styling here */
footer {
    background-color:var(--black);
    color: #fff;
    padding: 20px 0;
    border-radius: 50px 50px 0px 0px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.footer-container .footer-section {
    flex: 1;
    margin: 10px;
}

.footer-container .footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-container .footer-section p {
    font-size: 14px;
    margin: 5px 0;
}

.footer-container .footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-container .footer-section li {
    margin: 5px 0;
}

.footer-container .footer-section a {
    text-decoration: none;
    color: #fff;
}

.footer-container .footer-section a:hover {
    text-decoration: underline;
}
footer .copyright{
    text-align: center;
}
/* Add styling for social media icons, images, and other elements as needed */
footer{
    background-color: black;
    color: white;
    width: 100%;
}
@media only screen and (max-width:420px){
    .home #nav-link li{
        display: none;
        background-color: #03a9f4;
    }
    
    .home nav{
        height: 50px;
    }
    
}