@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

:root{
    --black:#333;
    --white:white;
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(178, 202, 224,.4);
    height: auto;
}

.home{
    width: 100vw;
    height: 100vh;
}
nav{
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 2rem;
    overflow: hidden;
    z-index: 2;
}

#logo{
    width: 20%;
    height: 100%;
    background-color: var(--white);
    border-radius: 0px 50px 50px 0px;
    position: relative;
    left:-1000px;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    
}



#logo .logo-name h2 {
  color: #fff;
  font-size: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
}

#logo .logo-name h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

#logo .logo-name h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
#logo img{
    width: 4rem;
    height: 4rem;
}
#logo h3{
    font-size: 1rem;
    color: red;
}
.home #nav-link{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    align-items: center;
    background-color: var(--white);
    border-radius: 50px 0px 0px 50px;
    position: relative;
    right:-1000px;
    transition: 1s;
    
}
.home #nav-link li{
    list-style-type:none ;
}
.home #nav-link li a{
    color: var(--black);
    text-decoration: none;
    transition: 1s;
    font-size: 1rem;
}
.home #nav-link li:hover a{
    color: #70c7f3;
    text-shadow: 0px 0px 40px #70c7f3,0px 0px 40px #70c7f3,0px 0px 40px #70c7f3,0px 0px 40px #70c7f3;
transition: .4s;
}

#main{
    margin-top: 100px;
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 65%;
}
/* .main-in{
    position: relative;
    width: 100%;
    height: 100%;
} */

/* Css for contact icon style */
.contect-container{
    position: relative;
    height: 100%;
    width: 5%;
    background-color: var(--white);
    border-radius: 100px 0px 0px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    right:-1000px;
    transition: 1s;

}
.fa-brands{
    border-radius: 50%;
    display: inline;
}
.fa-whatsapp:hover::after{
    content: 'whats app';
    color: white;
    left: -80px;
    top: 6px;
    background-color: green;
    transition: 1s;
    font-size: .5rem;
    position: absolute;
    padding: 5px 10px;
    border-radius: 50px;
}
.fa-facebook:hover::after{
    content: "facebook";
    color: white;
    left: -70px;
    top: 6px;
    background-color: rgb(0, 6, 128);
    transition: 1s;
    font-size: .5rem;
    position: absolute;
    padding: 5px 10px;
    border-radius: 50px;
}
.fa-instagram:hover::after{
    content: 'instagram';
    color: white;
    left: -80px;
    top: 6px;
    background:linear-gradient(red,orange);
    transition: 1s;
    font-size: .5rem;
    position: absolute;
    padding: 5px 10px;
    border-radius: 50px;
}
.fa-twitter:hover::after{
    content: 'twitter';
    color: white;
    left: -70px;
    top: 6px;
    background-color: skyblue;
    transition: 1s;
    font-size: .5rem;
    position: absolute;
    padding: 5px 10px;
    border-radius: 50px;
}
.fa-github:hover::after{
    content: 'github';
color: white;   
 left: -60px;
    top: 6px;
    background-color: rgb(0, 0, 0);
    transition: 1s;
    font-size: .5rem;
    position: absolute;
    padding: 5px 10px;
    border-radius: 50px;
}
.fa-linkedin:hover::after{
    content: 'linkedin';
    color: white;
    left: -70px;
    top: 6px;
    background-color: blue;
    transition: 1s;
    font-size: .5rem;
    position: absolute;
    padding: 5px 10px;
    border-radius: 50px;}
.icon span{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    
}
.icon{
    margin: 0 20px;
    cursor: pointer;
}
.icon span i{
    font-size: 25px;
    list-style: 25px;
}
.icon .fa-brands{
    position: relative;

}
.icon .fa-brands:hover{
    transform: scale(1.1);
}
.icon span a{
    color: black;
}

/* CSS for the slideshow */
.slideshow-container{
    position: relative;
    height: 100%;
    width: 85%;
    border-radius: 0px 100px 100px 0px;
    overflow: hidden;
    object-fit: cover;
    left: -1000px;
    transition: 1s;
    background-color: var(--white);
}


.mySlides {
    
    display: block;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
    animation: slide 3s infinite linear;
   
}


.mySlides img{
    object-fit: contain;
    object-position: center;
}

#services-container{
    margin-top: 2rem;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#services-container .ad-promo{
    width: 30%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#wow{
    position: absolute;
    top: -50px;
    right: 370px;
    z-index: 99;
    width: 200px;
    height: 200px;
}
.title{
    background: linear-gradient(rgb(71, 174, 222),rgb(31, 71, 183));
    font-size: 4rem;
    /* background: -webkit-linear-gradient(#eee, #333); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
#services-container .services{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    width: 65%;
    gap: 10px 50px;
    margin-top: 1em;
    height: auto;
}
#services-container .services .service{
    border: none;
    background-color: var(--white);
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    height: 100px;
    width: auto;

}
#services-container .services .service:nth-child(1){
    display: none;
}
#services-container .services .service:nth-child(even){
    border-radius: 0px 100px 100px 0px;
    flex-direction: row;
    margin-right: 10%;
}
#services-container .services .service:nth-child(odd){
    border-radius: 100px 0px 0px 100px;
    flex-direction: row-reverse;
    margin-left: 10%;

}
#services-container .services .service .img{
    width: 30%;
    height: 100px;
    overflow: hidden;
    transition: 1s;
    border-radius: 100px;
    justify-self: flex-end;
}
#services-container .services .service .img img{
    object-fit: contain;
    transition: 1s;
}
#services-container .services .service:hover .img img{
 transform: scale(1.2);
 overflow: hidden;
 transition: 1s;
}
img{
    width: 100%;
    height: 100%;
}
#services-container .services .service .content{
    color: var(--black);

}
#services-container .services .service .content h4{
    font-size: 1.5em;
    text-align: center;
}
#services-container .services .service .content p{
    padding: 15px;
    text-indent: 2rem;
    font-size: 1em;
}
/* Add your CSS styling here */
footer {
    background-color:var(--black);
    color: #fff;
    padding: 20px 0;
    border-radius: 50px 50px 0px 0px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.footer-container .footer-section {
    flex: 1;
    margin: 10px;
}

.footer-container .footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-container .footer-section p {
    font-size: 14px;
    margin: 5px 0;
}

.footer-container .footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-container .footer-section li {
    margin: 5px 0;
}

.footer-container .footer-section a {
    text-decoration: none;
    color: #e8e7e7;
}

.footer-container .footer-section a:hover {
    text-decoration: underline;
}
footer .copyright{
    text-align: center;
}
/* Add styling for social media icons, images, and other elements as needed */
footer{
    background-color: black;
    color: white;
    width: 100%;
}




.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #84b0ee;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}
#mview-nav-link{
    position: absolute;
    display: none;
    width: 100%;
    height: 200px;
    background: rgba(71, 69, 69, 0.3);
    z-index: 2;
    margin-top: 50px;
    border-radius: 50px;
    animation: popup .3s 1 ease-in;
    transition: 1s;
}
@keyframes popup {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}
#mview-nav-link li{
    list-style-type:none ;
    text-align: center;
    line-height: 30px;
}
#mview-nav-link li a{
    color: var(--white);
    text-decoration: none;
    transition: 1s;
    font-size: 1rem;
}
#mview-nav-link li:hover a{
    color: #70c7f3;
    text-shadow: 0px 0px 40px #70c7f3,0px 0px 40px #70c7f3,0px 0px 40px #70c7f3,0px 0px 40px #70c7f3;
transition: .4s;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}
#nav-link #burger{
    display: none;
    color: #70c7f3;
}
@media only screen and (max-width:420px){
    
    .home {
        height: 60vh;
    }
    .home nav #nav-link{
        width: 20%;
    }
    nav{
        height: 14%;
    }
   
    #nav-link #burger{
        display: block;
    }
    nav #logo .logo-name h2{
        font-size: 1.4em;
    }
    nav #logo{
        width: 20%;
    }
    #nav-link li{
        display: none;
    }
    #main{
        height: 50%;
    }
    .contect-container{
        width: 10%;
    }
    .slideshow-container{
        width: 80%;
    }
    #logo .logo-name h2{
        font-size: .4em;
    }
    .ad-promo{
        display: none;
    }
    #id{
        display: none;
    }
    #services-container .services{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }
    #services-container .services .service{
        border-radius: 0px 100px 100px 0px;
        margin: 10px 0px;
        width: auto;
    }
    #services-container .services .service .content .heading{
        font-size: 1rem;
    }
    #services-container .services .service .content .heading .dis{
        font-size: .5rem;
    }
    .title{
        font-size: 1.5rem;
    }
    .icon span i{
        font-size: 10px;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .home nav #logo{
        width: 50%;
    }
    #main{
      margin-top: 70px;  
    }
    #services-containe{
        margin-top: .5rem;
    }
   
}